{% extends 'main/base.html' %}

{% load static %}
{% block content %}

  <!-- base -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <div class="way">
    <div class="container">
      <a href="{% url 'home' %}" >Главная</a>
      >
      <a href='#' class='active'>Корзина</a>
    </div>
  </div>

  <section class="basket section">
    <div class="container">
      <h2 class="pageHeader">Ваша корзина {% if not cart.products.count %}пуста{% endif %} </h2>
        {% for item in cart.products.all %}
      <div class="basket__base">
        <div class="items">
          <div class="basketItem">
            <img src="{{ item.content_object.image_for_cart.url }}" alt="">
            <div class="title">
              <span>
                  {{ item.content_object.category }}
              </span>
              <p>
                {{ item.content_object.title }}
              </p>
            </div>

            <div class="counter counter_gold">
              <form id='add_count' action="{% url 'change_count' ct_model=item.content_object.category slug=item.content_object.id %}" method="POST">
                {% csrf_token %}
              <span class="minus">
                -  
              </span>
              <span class="number">
                <input type="number" min="1"  value="{{ item.qty }}" name="qty">
              </span>
              <span class="plus">
                +
              </span>
                <input type="submit" class="btn btn-primary" value="Изменить кол-во">
                </form>
            </div>

            <div class="price">
              {{ item.final_price }} руб
            </div>
            <form class='removingForm'  
            method='POST' 
            action="{% url 'remove_from_cart' ct_model=item.content_object.category slug=item.content_object.id %}">
              {% csrf_token %}
              <button type='submit' >убрать товар из корзины</button>
            </form>
          </div>
            {% endfor %}
          </div>
        </div>


        <div class="overall">
          <div class="price">

            <p class="current">
              {{ cart.final_price }} руб.
            </p>
            <p class="old">
              {{ cart.old_price }} руб.
            </p>
            <div class="discount">
              -{{ cart.sale }} руб.
            </div>

          </div>
          <button class="red-button">
            Оформить заказ
          </button>
          <div class="why">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 0C3.58892 0 0 3.58868 0 8C0 12.4113 3.58892 16 8 16C12.4111 16 16 12.4113 16 8C16 3.58868 12.4111 0 8 0ZM8 15.0154C4.13169 15.0154 0.984615 11.8683 0.984615 8C0.984615 4.13169 4.13169 0.984615 8 0.984615C11.8683 0.984615 15.0154 4.13169 15.0154 8C15.0154 11.8683 11.8683 15.0154 8 15.0154Z" fill="#F7F3E4"/>
              <path d="M8.12807 5.63348C8.58282 5.63348 8.95146 5.26484 8.95146 4.81009C8.95146 4.35535 8.58282 3.98671 8.12807 3.98671C7.67333 3.98671 7.30469 4.35535 7.30469 4.81009C7.30469 5.26484 7.67333 5.63348 8.12807 5.63348Z" fill="#F7F3E4"/>
              <path d="M7.91028 6.9765C7.63852 6.9765 7.41797 7.19706 7.41797 7.46881V11.6534C7.41797 11.9252 7.63852 12.1457 7.91028 12.1457C8.18203 12.1457 8.40258 11.9252 8.40258 11.6534V7.46881C8.40258 7.19681 8.18203 6.9765 7.91028 6.9765Z" fill="#F7F3E4"/>
              </svg>

            <p>Почему низкая цена?</p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section checkout">
    <div class="container">
      <h3 class="title">Оформление заказа</h3>
      <form action="" class="form">
        <input type="text" class="input" placeholder="Ваше имя">
        <input type="text" class="input" placeholder="Номер телефона">
        <input type="text" class="input" placeholder="Email">

        <div onClick='select9.changeState.call(select9)'
        class='select select9 selectWidget input'>
         <span>Способ доставки</span>
         <ul class='unactive'>
           <li onclick="select9.selectOption('Самовывоз')">
             Самовывоз</li>
           <li onclick="select9.selectOption('Курьером')">
             Курьером</li>
         </ul>
       </div>

       <div onClick='select10.changeState.call(select10)'
       class='select select10 selectWidget input'>
        <span>Способ доставки</span>
        <ul class='unactive'>
          <li onclick="select10.selectOption('Самовывоз')">
            Самовывоз</li>
          <li onclick="select10.selectOption('Курьером')">
            Курьером</li>
        </ul>
        </div>

        <div class="annotation">
          <span class='red'>*</span>
          <span>- Обязательные для заполнения поля отмечены звездочкой</span>
        </div>

        <div class="final">
          <div class="confirm">
            <input type="checkbox" name="" id="">
            <p>Я прочитал и соглашаюсь с правилами: <a href="#">Политика безопасности</a></p>
          </div>

          <div class="finalPrice">
            <span>Итого к оплате: </span>
            <p>
              14 990 руб.
            </p>
          </div>

          <button class="red-button">
            Оформить заказ
          </button>

        </div>

      </form>
    </div>
  </section>

  <!-- base -->
    

  <script>

    let removingForms = document.querySelectorAll('.removingForm')

    console.log(removingForms)

    $(function(){
      //removingForms.forEach((form) => {
        $('.removingForm').submit(function(event){
          event.preventDefault();
          var currentForm = $(this);
          var posting = $.post(currentForm.attr('actiion'), currentForm.serialize());
  
          posting.done(function(data){
            alert('Удалил!')
          })
          posting.fail(function(data){
            console.log('нет')
          })
        })
      //})
    })


$(function() {
    $("#add_count").submit(function(event) {
        // Stop form from submitting normally
        event.preventDefault();
        var friendForm = $(this);
        // Send the data using post
        var posting = $.post( friendForm.attr('action'), friendForm.serialize() );
        // if success:
        posting.done(function(data) {
            // success actions, maybe change submit button to 'friend added' or whatever
        });
        // if failure:
        posting.fail(function(data) {
            // 4xx or 5xx response, alert user about failure
        });
    });
});
  </script>

  <script src='{% static "js/scripts/slider-swiper.js" %}'></script>
  <script src='{% static "js/scripts/select.js" %}'></script>
  <script src='{% static "js/scripts/main.js" %}'></script>
  <!-- <script src='../js/scripts/runner.js'></script> -->


{% endblock content %}