{% extends 'main/base.html' %}

{% load static %}
{% block content %}

<section class="section salePage">
  <div class="container">
    <h2 class="pageHeader">Подбор матрасса</h2>

    <div class="saleBase">
      {% for selection in selections %}
      <div class="item d-flex">
        <img class='banner' src={{selection.image_for_cart.url}} alt="">

        <div class="info">
          <h3>{{ selection.title }}</h3>
          <ul>
            <li>Жесткость: {{ selection.rigidity }}</li>
            <li>Размер: {{ selection.size }}</li>
            <li>Цена: {{selection.price}}</li>
          </ul>
          <button onclick="location.href='{% url 'item' ct_model=selection.category slug=selection.slug %}'" 
          class="golden-button">ПОДРОБНЕЕ</button>
        </div>

        
        
      </div>
      {% endfor %}
    </div>





</div>
</section>
{% endblock content %}